BINANCE_API_KEY=xxx
BINANCE_API_SECRET=xxx

TELEGRAM_BOT_TOKEN=xxx  # токен бота
TELEGRAM_ALLOWED_CHAT=    # (необязательно) ID разрешённого чата/юзера
TELEGRAF_SKIP_REDACT=true
TELEGRAF_SKIP_REDACT=true
TELEGRAM_ALLOWED_USERNAME=@unknown_user010309
TRIGGER_PRICE_SOURCE=contract #| mark (default: contract)
TRIGGER_TICK_OFFSET=#целое >=0 (default: 1)
OBSERVER_INTERVAL_MS=#период цикла (default: 400)
